/* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}
*/
canvas {
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#candy-person {
    display: none;
}

/* MainTitle.css */
.main-title {
    animation: fadeIn 2s ease-in-out; /* Use your preferred animation properties */
    opacity: 0; /* Start with opacity 0 for fade-in effect */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  