.btnsConfiguration{
    gap: 1rem;
}

.imageContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
}

.imageDetailConfiguration{
    width: 22rem;
    height: 18rem;
    border-radius: 8px;
}